{% extends 'base.html' %}
{% block title %}blogs{% endblock title %}
{% block content %}
{% load static %}
<br>
<br>
<link rel="stylesheet" href="{% static 'blog/css/blogpage.css' %}">
<div class="container">
  {% for posts in allposts  %}
    <div class="card">
        <!-- <h5 class="card-header">Featured</h5> -->
        <div class="card-body">
          <h5 class="card-title">{{posts.title}}</h5>
          <p class="card-text">{{posts.content | truncatechars:100}}</p>
          <p class="card-text">{{posts.author}}</p>
          <p class="card-text">{{posts.timestamp}}</p>
          
          <a href="/{{posts.slug}}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <br>
  {% endfor %}
</div>
{% endblock content %}